<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Utilisateur</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-checkbox [(ngModel)]="rememberMe"></ion-checkbox>
        <ion-label class="ion-padding-start">Se souvenir de moi</ion-label>
      </ion-item>

      <!-- Affichage du message d'erreur -->
      <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

      <ion-button expand="full" (click)="login()">Se connecter</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>