/* Global styles */
ion-header {
    --background: #4CAF50; /* Fond vert */
    --color: white; /* Texte en blanc */
  }
  
  ion-toolbar {
    --background: #3880ff; /* Fond bleu */
  }
  
  ion-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Style du contenu */
  ion-content {
    --background: #f5f5f5; /* Fond gris clair */
  }
  
  ion-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre pour l'effet de profondeur */
    border-radius: 8px;
  }
  
  ion-card-header {
    background-color: #3880ff; /* Fond bleu pour l'en-tête de la carte */
    color: white; /* Texte blanc */
  }
  
  ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Styles des éléments de formulaire */
  ion-item {
    margin-bottom: 16px;
  }
  
  ion-label {
    font-size: 16px;
    font-weight: 500;
  }
  
  ion-input {
    font-size: 14px;
  }
  
  /* Style du bouton */
  ion-button {
    background-color: #3880ff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    padding: 12px;
  }
  
  ion-button:hover {
    background-color: #3171e0; /* Changer la couleur au survol */
  }
  
  