<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>École le Petit Prince</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>1, rue des écoles</p>
      <p>13000 Saint Exupéry</p>
      <p><strong>Tél :</strong> 0412345678</p>
      <p>
        <strong>Mail :</strong>
        <!-- Correction finale ici -->
        <a href="mailto:contact&#64;lepetitprince.fr">contact&#64;lepetitprince.fr</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>